body {
    background-color: white;
  }
  h1 {
    color: blue;
  }
  p {
    color: black;
  }
  input{
    height: 50px;
    width: 220px;
    margin: 2px;
  }
  button{
    height: 50px;
    width: 50px;
    margin: 2px;
  }
  #numberzero{
    width: 108px;
  }
  .number{
    background-color: gray;
  }
