
  #display{
    height: 50px;
    width: 400px;
    margin: 5px;
    margin-top: 20px;
  }
  input{
      font-size:24px;
  }
  button{
    height: 100px;
    width: 100px;
  }
  .number{
    background-color: gray;
  }