
  #display{
    /* height: 50px;
    width: 220px; */
    margin: 2px;
  }
  /* 
  button, .clearButton{
    height: 50px;
    width: 50px;
    margin: 2px;
  }
  /* #numberzero{
    width: 108px;
  } */
  .number{
    background-color: gray;
  }
  /* .Calculator{
    background-color: orangered;
  } */ 
